.wrapper {
    color: var(--color-surface);
    padding: 0.5em;
    margin: 0.2em;
    width: 8em;
    height: 6em;
    overflow: clip;
    background-color: var(--color-background);
    border-radius: var(--radius);
    border: 2px solid var(--color-accent);
}
.crossImage {
    cursor: pointer;
    width: 1.5em;
    height: 1.5em;
}
