.secondaryButton {
    margin: 1em;
    border-radius: 5px;
    background-color: rgb(100, 100, 100);
    color: white;
    width: 5em;
    height: 2.5em;
    font-size: 1em;
    box-shadow: 1px 1px  ;
    transition: background-color 200ms;
}
.secondaryButton:hover {
    background-color: black;
}
