.mainButton {
    margin: 1em;
    border-radius: var(--radius);
    background-color: var(--color-accent);
    color: white;
    width: 10em ;
    font-size: 1em;
    box-shadow: 1px 1px  ;
    transition: background-color 200ms;
}
.mainButton:hover {
    background-color: var(--color-primary-hover);
    cursor: pointer;
}
