.mainButton {
    margin: 1em;
    border-radius: var(--radius);
    background-color: var(--color-primary);
    color: white;
    width: 10em ;
    height: 2em;
    font-size: 1em;
    box-shadow: 1px 1px  ;
    transition: background-color 200ms;
}
.mainButton:hover {
    background-color: var(--color-primary-hover);
    cursor: pointer;
}
.disabled {
    margin: 1em;
    border-radius: var(--radius);
    background-color: grey;
    color: white;
    width: 10em ;
    height: 2em;
    font-size: 1em;
    box-shadow: 1px 1px  ;
    transition: background-color 200ms;
}
