.videoWrapper {
    width: 100%;
    height: 100%;
    border: black 3px solid;
    border-radius: var(--radius);
    background-color: var(--color-primary);
}
.videoImageWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30%;
    margin-top: 0.5em;
}
.videoTextWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.videoTextWrapper p {
    font-size: 1em;
    font-weight: 600;
    color: white;
    width: fit-content;
    overflow: hidden;
}
.videoDataWrapper {
    display: flex;
}
.videoDataWrapper span {
    color: var(--color-background);
    font-size: 1em;
    font-weight: bold;
}
.videoImage {
    border-radius: 1em 1em 0 0 ;
    width: 100%;
    height: 100%;
}

.videoSelected {
    composes: videoWrapper;
    /* ADD PADDING */
    /* ADD LIGHT INSET BORDER SHADOW*/
    box-shadow:
    inset 20px 10px 2px 2px rgba(150, 50, 200, 0.5) ,
    inset -20px -10px 2px 2px rgba(150, 50, 200, 0.5);
}
