.videoWrapper {
    width: 10em;
    height: 10em;
    border: black 3px solid;
    border-radius: var(--radius);
    background-color: var(--color-accent);
}
.videoImageWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30%;
    margin-top: 0.5em;
}
.videoTextWrapper {
    display: flex;
    flex-direction: column;
}
.videoTextWrapper p {
    font-size: 1em;
    font-weight: 600;
    color: var(--color-secondary);
    width: fit-content;
    overflow: hidden;
}
.videoDataWrapper {
    display: flex;
}
.videoDataWrapper span {
    color: var(--color-background);
    font-size: 1em;
    font-weight: bold;
}
.videoImage {
    border-radius: 1em 1em 0 0 ;
    width: 100%;
    height: 100%;
}
