.videoWrapper {
    width: 15rem;
    height: 15rem;
    border: black 3px solid;
    border-radius: 1em;
}
.videoImageWrapper {
    height: 50%;
}
.videoTextWrapper {
    padding: 0.5em;
    display: flex;
    flex-direction: column;
    font-size: 1em;
    font-weight: 600;
}
.videoTextWrapper span {
    font-size: 1.5em;
    color: white;
}
.videoDataWrapper {
    display: flex;
}
.videoDataWrapper span {
    color: grey;
    font-size: 1em;
    margin-top: 0.5em;
    margin-right: 0.5em;
    font-weight: normal;
}
.videoImage {
    border-radius: 1em 1em 0 0 ;
    width: 100%;
    height: 100%;
    margin-bottom: 0.5em;
}
