

:root {
    /*Color Variables*/
    --color-primary: #53A5E0;
    --color-primary-hover: #348D87;
    --color-secondary: #62C9FF;
    --color-secondary-hover: #689FC8;

    --color-background: #25282B;
    --color-surface: #FCFCFC;
    --color-accent: #F35774;

    --radius: 10px;
}
